*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', monospace;
}
/* COMMON */
.box{
    width: 100%;
    height: 100vh;
    position: relative;
}

.article{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

img{
    max-width: 100%;
}

h2{
    text-transform: uppercase;
    font-size: 50px;
}
/* BACKGROUND */
#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

.bg-transparent{
    background-color: transparent;
}

/* FONT-MODELLING */

.fc-yellow{
    color: yellow;
}

.fc-green{
    color: green;
}
/* HEADER */

.container{
    width: 100%;
    position: fixed;
    z-index: 1;
} 

ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
li{
    padding: 20px;
}
a{
    text-decoration: none;
    padding: 10px 15px;
    border-radius:  25px;
    background-color: white;
}
